{% extends 'base.html' %}
{% block content %}
<div class="container">
<br>
<h4>Welcome {{ user.username }}! Please fill out the New Request form.</h4>
<hr><br>
<form action="request/" method="POST">
  {% csrf_token %}
  <div class="form-group" id='request_form'>
    <label for="request_type">Request Type</label>
    <select class="form-control" id="request_type">
      <option>Plumbing</option>
      <option>Electrical</option>
      <option>Painting</option>
      <option>Deep Cleaning</option>
    </select>
  <!-- <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Request Type</legend>
        <div class="col-sm-2">
          <input class="form-check-input" type="radio" name="request_type" id="PL" value="PL" checked>
          <label class="form-check-label" for="request_type">
            Plumbing     
          </label>
        </div>
        <div class="col-sm-2">
          <input class="form-check-input" type="radio" name="request_type" id="EL" value="EL">
          <label class="form-check-label" for="Electrical">
            Electrical
          </label>
        </div>
        <div class="col-sm-2">
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="request_type" id="PA" value="PA">
            <label class="form-check-label" for="Painting">
              Painting
            </label>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="request_type" id="DC" value="DC">
            <label class="form-check-label" for="Deep Cleaning">
            Deep Cleaning
            </label>
          </div>
        </div>
  </fieldset> -->
  <div class="form-group">
    <label for="request_description">Request Description</label>
    <textarea class="form-control" id="request_description" rows="2"></textarea>
  </div>
  <div class="form-group row">
    <label for="city" class="col-sm-2 col-form-label">City</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="city" placeholder="City">
    </div>
  </div>
  <div class="form-group row">
    <label for="state" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="state" placeholder="State">
    </div>
  </div>
  <div class="form-group row">
    <label for="pincode" class="col-sm-2 col-form-label">Pincode</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="pincode" placeholder="Pincode">
    </div>
  </div>
  <div class="form-group row">
    <label for="alt_phone" class="col-sm-2 col-form-label">Alternate Phone No.</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="alt_phone" placeholder="Alternate Phone No.">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" id = 'request_form' class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
</div>
{% endblock %}